.nav-bar {
  height: 60px;
  background-color: #0085CA;
  color: #FFFFFF;
}

.nav-element {
  display: inline-block;
  float: left;
  height: 100%;
}

.nav-icon {
  display: inline-block;
  img {
    height: 60px;
    width: 60px;
  }
}

.nav-brand {
  text-transform: uppercase;
  vertical-align: baseline;
  font-family: "Lato-Regular", helvetica, san-serif;
  font-size: 14px;
  text-spacing: 2px;
  padding: 20px 30px;

  img {
    height: 20px;
    width: 136px;
    margin-right: 15px;
    vertical-align: baseline;
  }
}

.nav-title {
  font-family: "Lato-Regular", helvetica, san-serif;
  padding: 10px 30px;
  background-color: #0069A0;
  
  .nav-group-type {
    line-height: 15px;
    display: block;
    font-size: 12px;
    margin-bottom: 7px;
  }

  .nav-server-name {
    line-height: 20px;
    display: block;
    font-size: 16px;
    white-space: no-wrap;
    letter-spacing: 1.5px;
  }
}